.about.carousel {
    background-image        : url('../../images/about-us.jpg');
    width                   : 100%;
    color                   : #ffffff;
    padding-bottom          : 6rem;
}

#quantial_values img {
    border-radius           : .125rem;
    height                  : 25rem;
    object-fit              : cover;
}


@media (max-width: 426px) {  

}


@media (min-width: 992px) {
    .about.carousel {
        padding-bottom          : 8rem;
    }
    
}