

.contacts.carousel {
    background-image        : url('../../images/contact-us.jpg');
    width                   : 100%;
    color                   : #ffffff;
    padding-bottom          : 0rem !important;
}

@media (max-width: 426px) {  

}
