@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');


.text-black {
    color                   : #333333;
}

.primary-color {
    color                   : #3A6380;
}

.light-blue {
    color                   : #71B7E8;
}

.m-width-296 {
    min-width               : 296px !important;
}

.home {

}

.sponsor-banner .title {
    font-family             : 'Montserrat', sans-serif !important;
    font-size               : 1rem !important;
    line-height             : 1.4;
    font-weight             : 700;
    color                   : #666666 !important;
}

.sponsor-banner svg {
    stroke                  : #666666;
    height                  : 3em;
    width                   : 4em;
}

.sponsor-banner img {
    max-width               : 160px;
    max-height              : 160px;
}

.sponsor-banner .see-all {
    color                   : #666666;
    font-size               : .875rem;
    margin-left: -1rem;
}

.overflow {
    overflow-x: scroll;
}

button {
    border                  : 2px solid white !important;
    font-size               : 18px !important;
    font-weight             : 600 !important;
}

.carousel {
    background-image        : url('../../images/drives.jpg');
    background-size         : cover;
    background-repeat       : no-repeat;
    background-blend-mode   : saturation;
    box-shadow              :inset 0 0 0 2000px rgba(58, 99, 128, 0.8);
    background-position     : 50% 55%;
}

.home.carousel {
    height                  : 85vh;
    width                   : 100%;
    color                   : #ffffff;
}

.subtitle {
    font-size               : 18px !important;
    width                   : fit-content;
}

.w-80 {
    width: 80% !important;
}

.subtitle::before {
    display                 : block;
    position                : relative;
    content                 : '';
    height                  : 4px;
    width                   : 70%;
    top                     : 0;
    background-color        : #ffffff;
    left                    : 0;
}

.sol-overview-bg {
    border-radius           : 1.875rem;
    height                  : 240px;
    margin-bottom           : 1.5rem;
}

.sol-overview-bg::after {
    display                 : block;
    position                : relative;
    content                 : '';
    height                  : 4px;
    width                   : 100%;
    padding                 : 0rem 1rem;
    background-color        : #3A6380;
}

.unique-value-img, .vision-img, .s-sol-bg {
    width                   : 100%;
    background-repeat       : no-repeat;
    background-size         : cover;
}

.unique-value-img, .vision-img {
    height                  : 624px;
}

.unique-value-img {
    background-position     : 56%;
    background-image        : url('../../images/unique.jpg');
}

.vision-img {
    background-position     : 75%;
    background-image        : url('../../images/vision.jpeg');
}

.s-sol-bg {
    margin-bottom             : 1.5rem;
    background-position-y     : 60%;
    border-radius             : .175rem;
    background-repeat         : no-repeat;
    background-image          : url('../../images/security-locks.jpg');
}

.it-sol-bg {
    margin-bottom             : 1.5rem;
    background-size           : contain;
    border-radius             : .175rem;
    background-image          : url('../../images/server-wires.jpg');
}

.dp-sol-bg {
    margin-bottom             : 1.5rem;
    background-size           : cover;
    border-radius             : .175rem;
    background-position       : center;
    background-image          : url('../../images/servers.jpg');
}

.ns-sol-bg {
    margin-bottom             : 1.5rem;
    background-size           : cover;
    background-position       : center;
    border-radius             : .175rem;
    background-image          : url('../../images/pins.jpg');
}

.sponsor-banner {
    width                   : 100%;
    height                  : 15vh;
    background-color        : #1D2429;
}

#about_us, #vision_n_aim {
    background-color        : #f0f0f0 !important;
}

#quantial_value, #vision_n_aim {
    margin                  : 0rem 0rem !important;
    padding                 : 0rem 0rem !important;
}

#work_with_us {

}
