.solution-content {
  width: fit-content !important;
}

.solutions.carousel {
  background-image: url("../../images/vision.jpeg");
  width: 100%;
  color: #ffffff;
  padding-bottom: 6rem;
}

.quick-nav-container {
  position: relative;
  width: fit-content;
  height: fit-content;
  text-transform: uppercase;
}

.quick-nav.title {
  font-size: 0.5rem;
  color: #eeeeee;
}

.quick-nav.title.scrolled {
  color: #444444;
}

.quick-nav {
  font-size: 0.875rem !important;
}

.quick-nav.item {
  text-transform: uppercase;
  font-weight: 600;
}

.quick-nav.item:hover {
  cursor: pointer;
  color: var(--accent-color);
}

.quick-nav.item.scrolled {
  color: #333333;
}

.quick-nav.item.scrolled:hover {
  color: var(--accent-color);
}

.sol-bg {
  height: fit-content;
}

#s-sol .s-sol-bg {
  margin-bottom: 1.5rem;
  background-position-y: 60%;
  border-radius: 0.175rem;
  background-repeat: no-repeat;
  background-blend-mode: saturation;
  box-shadow: inset 0 0 0 2000px rgba(58, 99, 128, 0.7);
  background-image: url("../../images/security-locks.jpg");
}

.s-sol-bg p,
.it-sol-bg p,
.db-sol-bg p,
.ns-sol-bg p {
  font-weight: 600;
}

.stat-no {
  font-size: 3.5rem;
  font-family: "Bebas Neue", cursive !important;
}

#it-sol .it-sol-bg {
  margin-bottom: 1.5rem;
  background-size: cover;
  border-radius: 0.175rem;
  background-repeat: no-repeat;
  background-blend-mode: saturation;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.75);
  background-image: url("../../images/server-wires.jpg");
}

.db-sol-bg {
  margin-bottom: 1.5rem;
  background-size: cover;
  border-radius: 0.175rem;
  background-position: center;
  border-radius: 0.175rem;
  background-repeat: no-repeat;
  background-blend-mode: saturation;
  box-shadow: inset 0 0 0 2000px rgba(58, 99, 128, 0.7);
  background-image: url("../../images/servers.jpg");
}

#ns-sol .ns-sol-bg {
  margin-bottom: 1.5rem;
  background-size: cover;
  background-position: center;
  border-radius: 0.175rem;
  border-radius: 0.175rem;
  background-repeat: no-repeat;
  background-blend-mode: saturation;
  box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.75);
  background-image: url("../../images/pins.jpg");
}

#ns-sol .ns-sol.headline {
  font-size: 2.5rem !important;
  margin-bottom: 0 !important;
  font-weight: 700;
  color: var(--primary-color);
}

#ns-sol .bloq-text {
  font-size: 1.5rem;
  font-family: var(--bebas-neue);
  color: #ffffff;
  background-color: var(--primary-color);
  padding: 1.5rem 3rem;
}
.stat-headline-block {
  margin-left: 9rem;
}

#it-sol li.col,
#db-sol li.col {
  border-top: 0px solid #70707040;
  padding-top: 1.5rem;
}

h6::after {
  display: block;
  position: relative;
  content: "";
  height: 0.0785rem;
  width: 102px;
  bottom: 0;
  margin-top: 0.875rem;
  background-color: #707070;
}

/* Overides */

.quick-nav li {
  grid-gap: 0em;
  margin-bottom: 0rem;
  display: inline-block;
}

@media (min-width: 992px) {
  .solutions.carousel {
    padding-bottom: 8rem;
  }

  #it-sol li.col,
  #db-sol li.col {
    border-top: 1px solid #70707040;
  }

  .w-lg-63 {
    width: 63% !important;
  }

  .quick-nav-container {
    position: fixed;
  }

  .sol-bg {
    height: 25rem;
  }

  .solution-content {
    width: 60% !important;
  }
}
