@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

.nav-item {
    
}


button.navbar-toggler {
    border: 0px !important;
    font-size: 1.5rem !important;
    z-index: 1000;
}

button.navbar-toggler:focus {
    outline: 0px auto -webkit-focus-ring-color !important;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url('../images/x.svg') !important;
}

.navbar-toggler.collapsed .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

button.navbar-toggler {
    
}

.navbar-toggler-icon {
    width: 1.8em !important;
    height: 1.8em !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding                 : 0 !important;
    margin-bottom           : 0 !important;
    padding-left            : 1.45rem !important;
}

.active {
    color                   : #ffffff;
    opacity                 : 1 !important;
}

.navbar-collapse.collapse .active::after {
    display                 : block;
    position                : relative;
    content                 : '';
    height                  : .1rem;
    width                   : 50%;
    bottom                  : 0;
    margin-top              : .5rem;
    margin-bottom           : .875rem;
    background-color        : #ffffff;
    left                    : 0;
    border-radius           : .1rem;
}

.nav-item li a {
    font-family             : 'Montserrat', sans-serif;
    font-size               : .9rem;
    font-weight             : 600 !important;
    text-decoration         : none;
    color                   : #ffffff;
    opacity                 : .9;
    text-transform          : uppercase !important;
}

.nav-item li a:hover {
    color                   : var(--accent-color);
}

.navbar {
    padding                 : 1.275rem 0rem !important;
    background-color        : transparent;
}

.navbar.nav-scrolled {
    background-color        : var(--primary-color);
}


@media (max-width: 992px) {

    .navbar-collapse.collapsing {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        height: 100vh !important;
        width: 0;
        transition: width 1s ease-in-out !important;
    }

    .navbar-collapse.collapse.show {
        height: 100vh;
        top: 0;
        left: 0;
        position: absolute;
        display: flex;
        /* overflow: hidden; */
        background-color: var(--primary-color) !important;
        width: 100vw;
    }

    .navbar-collapse.collapse.show li, .navbar-collapse.collapsing li {
        text-align: center;
        padding: 1.5rem 1.4rem !important;

    }

    .navbar-collapse.collapse.show .navbar-nav, .navbar-collapse.collapsing .navbar-nav {
        margin-top: auto !important;
        margin-bottom: auto !important;
        display: flex;
        margin-top: auto !important;
        margin-bottom: auto !important;
        align-items: flex-end;
        align-content: center;
    }

    .navbar-collapse.collapse.show a, .navbar-collapse.collapsing a {
        font-size: 1.5rem !important;
    }

    .navbar-collapse.collapse.show a.active::after {
        display: none;
    }
    
    .navbar-collapse.collapse.show a.active::before {
        display: block;
        position: relative;
        content: '';
        height: .75rem;
        width: .75rem;
        bottom: -1.45rem;
        margin-top: 0rem;
        margin-bottom: 0rem;
        background-color: #ffffff;
        left: -1.5rem;
        border-radius: 1.5rem;
    }

    .collapsing {
        height              : 0;
        background-color    : var(--primary-color) !important;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left       : 1.45rem !important;
    }  
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left       : 1.45rem !important;
    }  
}